<table class="table table-striped">
  <thead>
    <tr>
      <td>Name</td>
      <td>Address</td>
      <td>Operations</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @subscriptions.each do |subscription| %>
        <td><%= subscription.name %></td>
        <td><%= link_to subscription.url, subscription.url %></td>
        <td>
          <%= link_to "Edit", edit_subscription_path(subscription)%> |
          <%= link_to "Delete", subscription_path(subscription), method: :delete %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
